<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nomankhan.designpatternjava">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:label="@string/app_name"
      android:name=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:label="@string/single_responsibilty"
      android:name=".solid.s.SingleResonsibiltyPrinciple"
      android:screenOrientation="portrait" />
    <activity
      android:label="@string/liskov_substitution_principle"
      android:name=".solid.l.LiskovSubstitutionPrinciple"
      android:screenOrientation="portrait" />
    <activity
      android:label="@string/open_close_principle"
      android:name=".solid.o.OpenClosePrinciple"
      android:screenOrientation="portrait" />
    <activity
      android:label="@string/dependency_inversion_principle"
      android:name=".solid.d.DependencyInversionPrinciple"
      android:screenOrientation="portrait" />
    <activity android:name=".solid.i.InterfaceSegregation" />
    <activity android:name=".designpatterns.behavioral.strategy.StrategyPattern" />
    <activity android:name=".designpatterns.creational.singleton.SingletonPattern" />
    <activity android:name=".designpatterns.structural.DecoratorPattern" />
    <activity android:name=".designpatterns.structural.facade.FacadePattern" />
    <activity android:name=".designpatterns.structural.adapter.AdapterPattern" />
    <activity android:name=".designpatterns.creational.factory.FactoryPattern" />
    <activity android:name=".designpatterns.creational.builder.BuilderPattern" />
    <activity android:name=".designpatterns.behavioral.template.TemplatePattern" />
    <activity android:name=".designpatterns.behavioral.observer.ObserverPattern"></activity>
  </application>

</manifest>